i{
    margin-right: 1em;
    width: 1%;
}

img{
    border-radius: 3%;
}

a{
    color: black;
    text-decoration: none;
}

footer{
    padding-top: 200px;
}

.pfp{
    width: 40px;
    height: 40px;
    border-radius: 15%;
    margin: auto;
    margin-right: 10px;
}

.nav-text{
    font-size: 25px;
    /*font-family: 'Amatic SC', cursive;*/
    font-family: 'Alegreya', serif;
    color: white;
    font-weight: 400;
    margin: auto;
}

.content{
    background-color: #EBD8D3;
    padding: 150px 90px 90px 90px;
    text-align: center;
}

.list-group{
    margin: 100px 0 100px 0;
}


.navbar{
    padding: 30px;
    height: 60px;
}

.navbar-brand{
    position: absolute;
    left: 50%;
    margin-left: -80px;
    display: flex;

}

.title{
    font-family: 'Alegreya', serif;
    font-size: 70px;
}

.title-box{
    border: 5px solid black;
    border-radius: 10%;
    width: 400px;
    margin: auto;
    margin-bottom: 140px;
}

.first-part{
    display: flex;
    margin-bottom: 300px;
}



.presentation-image{
    width: 256px;
    height: 384px;
}

.presentation-text{
    margin: auto;
    font-family: 'Alegreya', serif;
    font-size: 20px;
}

.col{
    align-self: center;
}

.carousel-container{
    margin: auto;
}


.accordion{
    margin-bottom: 210px;
}

.second-part{
    margin-bottom: 210px;
}

.contact{
    margin: 20px;
    font-size: 20px;
}

@media screen and (min-width: 1200px){
    .first-part{
        margin-right: 100px;
    }

    
    .carousel-container{
        width: 60%;
    }
}

@media screen and (max-width: 1199px) {

    .title{
        font-size: 40px;
    }

    .title-box{
        width: 200px;
        margin: auto;
        margin-bottom: 100px;
        margin-top: 40px;
    }

    .presentation-image{
        margin-bottom: 100px;
    }

    .content{
        padding: 75px 10px;
    }
    
    .presentation-text{
        text-align: left;
    }

    .first-part{
        margin-bottom: 50px;
    }

    .text-box{
        text-align: left;
    }

    .carousel-container{
        width: 100%;
    }

    .accordion{
        margin-bottom: 100px;
    }

    .second-part{
        margin-bottom: 100px;
    }
}